<div class="row">
	<div class='col-xs-6'>
		<a href="//fast.wistia.net/embed/iframe/6tb2um1xas?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/971f12ffc42bf527a0c7a5c5dbf6f8119d4aaa1a.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=350x168" alt="" /></a>
	</div>
	
	<div class='col-xs-6'>
		<a href="//fast.wistia.net/embed/iframe/c6cmrt6c9g?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/0614c124326c2ffecf79fa762bef043404159487.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=350x168" alt="" /></a>
	</div>
	
</div>

<div class="container_section getting_started_videos_section">

	<div class="row video_row">
		
		<div class='col-md-1 col-md-offset-0'></div>
		<div class='col-md-2'>
			<div class="video_title"><p>What Is Revive</p></div>
			<a href="//fast.wistia.net/embed/iframe/ezqgihlj9b?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/212827951453927a15168347805bb5993d640a42.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
		</div>
		<div class='col-md-2'>
			<div class="video_title"><p>Finding Domains</p></div>
			<a href="//fast.wistia.net/embed/iframe/sfhakhn9m4?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/2bf882bf812dabc2de48c56f87748b9adb18e6d6.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
		</div>
		<div class='col-md-2'>
			<div class="video_title"><p>Scraping Explained</p></div>
			<a href="//fast.wistia.net/embed/iframe/8q36jbs05c?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/4d247e049f3b662595927cad01c730f6a6d51bc8.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
		</div>
		<div class='col-md-2'>
			<div class="video_title"><p>Ninja Tactics</p></div>
			<a href="//fast.wistia.net/embed/iframe/13k8c221xo?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/997aab7a7d89b4ddf4fa80725a151168cd910a95.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
		</div>
		<div class="col-md-2">
			<div class="video_title"><p>Results In Minutes</p></div>
			<a href="//fast.wistia.net/embed/iframe/ujovpo5in7?popover=true" class="wistia-popover[height=480,playerColor=7b796a,width=853]"><img src="https://embed-ssl.wistia.com/deliveries/9d5a8788c1be9e123ac636797eddb8bc5b5d20ff.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
		</div>
	</div>
	<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
</div>