<div class="row">
	
	<% @crawls.each do |s| %>
			
			<div class="col-xs-6">
	
				<div class="row">
			
					<div class="panel panel-default">
						<div class="panel-heading panel_pink_heading clearfix project_panel_heading">
							<div class="pull-left">
								<p><%= s.name %></p>
							</div>
							<div class="pull-right">
								<p><%= link_to "VIEW", crawl_path_path(s.id) %></p>
							</div>
						</div>
						<div class="panel-body">
					
							<%= render 'project_stats', s: s %>
					
						</div>
					</div>
			
				</div>
	
			</div>
		
	<% end %>

</div>