<ul class="project_stats_container text-center">
	
	<li class="col-xs-3 yellow_stat fill nopadding">
		<div class="stat_title">
			INTERNAL
		</div>
		<div class="stat_value">
			<%= link_to s.pages.where(internal: true).uniq.count, internal_path(s.id) %>
		</div>
	</li>
	
	<li class="col-xs-3 orange_stat fill nopadding">
		<div class="stat_title">
			EXTERNAL
		</div>
		<div class="stat_value">
			<%= link_to s.pages.where(internal: false).uniq.count, external_path(s.id) %>
		</div>
	</li>
	
	<li class="col-xs-3 blue_stat fill nopadding">
		<div class="stat_title">
			BROKEN
		</div>
		<div class="stat_value">
			<%= link_to s.pages.where(status_code: '404').uniq.count, broken_path(s.id) %>
		</div>
	</li>
	
	<li class="col-xs-3 green_stat fill nopadding">
		<div class="stat_title">
			AVAILABLE
		</div>
		<div class="stat_value">
			<%= link_to s.pages.where(status_code: '0', internal: false).uniq.count, available_path(s.id) %>
		</div>
	</li>
	
</ul>
	