/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

// RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// MAIN LAYOUT

html, body  {
    height: 100%;
	width: 100%;
	overflow: hidden;
}

.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.main_container {
	padding-top: 50px;
	overflow-y: auto;
}

.main_left_container {
	float: left;
}

.main_right_container {
	overflow-y: auto;
	overflow-x: auto;
}

.main_page_bg {
	background: #f4f4f2;
}

.main_page_container {
	min-width: 970px;
}

// TOP NAV
.top_nav_container {
	height: 50px;
	border: none;
	background-color: #ff4f78;
}

.logo {
	margin-top: 5px;
	margin-left: 20px;
	position: absolute;
	left: 0;
}

.top_nav_link, .top_nav_link:hover {
	color: #fff;
}

.white_text {
	color: #fff !important;
}

// MAIN PAGE

.header_title_container {
	padding: 10px 0px 0px 0px;
	background-color: #fbfbf9;
	border-bottom: 1px solid #e7e7e1;
}

.header_glyph {
	float: left;
	margin-right: 15px;
}

.header_text {
	float: left;
	margin-right: 15px;
}

//.header_button {
//	margin-top: -10px;
//}

.container_section {
	margin-top: 20px;
}

.glyph_pink {
	color: #dd6573;
}

.glyph_blue {
	color: #63aade;
}

.title_number {
	float: left;
	margin-right: 15px;
	color: #dd6573;
	font-weight: bold;
	font-size: 30px;
}

// STATS

.stat_circle_container {
	font-weight: bold;
	font-size: 30px;
}	


#stats_chart {
	height: 300px;
}

.field_container {
	margin-top: 15px;
}

.pink_form_submit_btn_container {
	margin-top: 15px;
}

.pink_form_submit_btn {
	background-color: #FF4F78;
	color: #fff;
	width: 100%;
	padding: 15px 0px;
}

// LOGIN FORM

.login_form_container, .signup_form_container {
	margin: 0px auto;
	width: 470px;
	margin-top: 50px;
}

.login_form_container h1, .signup_form_container h1 {
	margin-bottom: 20px;
}

.or-rule {
	display: block;
	position: relative;
	text-align: center;
	margin: 15px 0;
	color: #222;
	opacity: .3;
	border-color: #222;
}

.or-rule-before {
	display: block;
	border-top: 1px solid #222;
	content: "";
	position: absolute;
	width: 45%;
	left: 0;
	top: 50%;
}

.or-rule-after {
	display: block;
	border-top: 1px solid #222;
	content: "";
	position: absolute;
	width: 45%;
	right: 0;
	left: auto;
	top: 50%;
}

.or-rule-before-report, .or-rule-after-report {
	width: 20% !important;
}


//////// TABAS /////////////

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border-bottom:1px solid #eee;
//  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  background-color: #FBFBF9 !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.panel_glyph_container {
	clear: both;
	display: inline-block;
	width: 100%;
	padding: 10px 5px 0px 25px;
	color: #fff !important;
}

.crawling_gif {
	margin-top: 80px;
}

.zero_top_domains {
	font-family: helvetica;
	color: #FF4F78;
	font-weight: bold;
	font-size: 250px;
}


///////// SIDE TABAS ///////// 

.side_vertical_tabs {
	border-bottom: none;
}

.side_vertical_tabs li {
	margin-bottom: 2px !important;
	width: 100%;
}

.side_vertical_tabs li.active > a {
	background-color: #F4F4F2 !important;
	border-left: #F4F4F2 !important;
	border-bottom: 1px solid #dddddd !important;
	border-right: 5px solid #FF4F78 !important;
	color: #FF4F78 !important;
}

.side_vertical_tabs li > a:hover {
	background-color: #F4F4F2 !important;
	border-left: #F4F4F2 !important;
	border-bottom: 1px solid #dddddd !important;
	border-right: 1px solid #dddddd !important;
	border-top: 1px solid #dddddd !important;
}

///// PAGINATION //////

//.will_paginate_container {
//	position: absolute;
//	margin: 0px auto;
//	bottom: 0px;
//	left: 30%;
//}

.pagination > .active > span {
	background-color: #FF4F78 !important;
	border-color: #FF4F78 !important;
}

.pagination > li > a {
	color: #FF4F78 !important;
}


























