// Colors

$pink: #ff4f78;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";

// Libraries
///////////////

@import "bootstrap.vertical-tabs.min";
@import "jquery-ui";
@import "select2";
@import "select2-bootstrap";
@import "ion.rangeSlider";
@import "ion.rangeSlider.skinFlat";
@import "bootstrap-datepicker3";

// Project
///////////////

@import "crawls";
@import "dashboard";
@import "domains";
@import "left_nav";
@import "pages";
@import "pending_crawls";
@import "projects";
@import "sessions";
@import "sites";
@import "subscriptions";
@import "users";


// MAIN LAYOUT

html, body  {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

.container-fluid {
//	padding: 0;
}

.row {
  margin: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.main_container {
	overflow-y: auto;
}

.main_left_container {
	float: left;
}

.main_right_container {
	overflow-y: auto;
	overflow-x: auto;
}

.main_page_bg {
	background: #f4f4f2;
}

.main_page_container {
	min-width: 970px;
}

// TOP NAV
.top_nav_container {
	height: 50px;
	border: none;
	background-color: $pink;
}

.logo {
	margin-top: 5px;
	margin-left: 20px;
	position: absolute;
	left: 0;
}

.top_nav_link, .top_nav_link:hover {
	color: #fff;
}

.white_text {
	color: #fff !important;
}

// Nav

.navbar-revive {
  @extend .navbar-inverse;
  color: #ffffff;
  background-color: $pink;
  border-radius: 0;
  border-width: 0;
  border-color: $pink;
  margin-bottom: 0;

  .navbar-brand{
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2rem;
  }

  .navbar-toggle, .navbar-collapse {
    border-color: $pink;
    box-shadow: none;
  }

  .navbar-nav {
    li {
      a {
        background-color: transparent;
        color: white;
        &:hover, &:active, &:focus {
          background-color: transparent;
          color: white;
          font-weight: bold;
        }
      }
      &.active {
        > a {
          background-color: transparent;
          color: white;
          &:hover, &:active, &:focus {
            background-color: transparent;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $pink;
        color: #ffffff;
      }
    }
    .open .dropdown-menu {
      background-color: $pink;
      border: none;
      .divider {
        background-color: #ffffff;
      }
      li a{
        color: white;
      }
      > .dropdown-header {
        border-color: $pink
      }
      .divider {
        background-color: $pink;
      }
      > li > a {
        color: white;
        &:hover,
        &:focus {
          color: white;
          background-color: $pink;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: white;
          background-color: $pink;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: $pink;
        }
      }
    }
  }
}



// MAIN PAGE

.header_title_container {
	padding: 10px 0px 0px 0px;
	background-color: #fbfbf9;
	border-bottom: 1px solid #e7e7e1;
}

.header_glyph {
	float: left;
	margin-right: 15px;
}

.header_text {
	float: left;
	margin-right: 15px;
}

//.header_button {
//	margin-top: -10px;
//}

.container_section {
	margin-top: 20px;
}

.glyph_pink {
	color: #dd6573;
}

.glyph_blue {
	color: #63aade;
}

.title_number {
	float: left;
	margin-right: 15px;
	color: #dd6573;
	font-weight: bold;
	font-size: 30px;
}

// STATS

.stat_circle_container {
	font-weight: bold;
	font-size: 30px;
}	


#stats_chart {
	height: 300px;
}

.field_container {
	margin-top: 15px;
}

.pink_form_submit_btn_container {
	margin-top: 35px;
}

.pink_form_submit_btn {
	background-color: #0F81D5;
	color: #fff;
	width: 100%;
	padding: 15px 0px;
}

.teal_form_submit_btn {
	background-color: #2ccad4;
	color: #fff;
	width: 100%;
	padding: 15px 0px;
}

// LOGIN FORM

.login_form_container, .signup_form_container {
	margin: 0px auto;
	width: 470px;
	margin-top: 50px;
}

.login_form_container h1, .signup_form_container h1 {
	margin-bottom: 20px;
}

.or-rule {
	display: block;
	position: relative;
	text-align: center;
	margin: 15px 0;
	color: #222;
	opacity: .3;
	border-color: #222;
}

.or-rule-before {
	display: block;
	border-top: 1px solid #222;
	content: "";
	position: absolute;
	width: 25%;
	left: 0;
	top: 50%;
}

.or-rule-after {
	display: block;
	border-top: 1px solid #222;
	content: "";
	position: absolute;
	width: 25%;
	right: 0;
	left: auto;
	top: 50%;
}

.or-rule-before-report, .or-rule-after-report {
	width: 20% !important;
}


//////// TABAS /////////////

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border-bottom:1px solid #eee;
//  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #c3d8e8;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #0F81D5;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  background-color: #FBFBF9 !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.panel_glyph_container {
	clear: both;
	display: inline-block;
	width: 100%;
	padding: 10px 5px 0px 25px;
	color: #fff !important;
}

.crawling_gif {
	margin-top: 80px;
}

.zero_top_domains {
	font-family: helvetica;
	color: $pink;
	font-weight: bold;
	font-size: 250px;
}


///////// SIDE TABAS ///////// 

.side_vertical_tabs {
	border-bottom: none;
}

.side_vertical_tabs li {
	margin-bottom: 2px !important;
	width: 100%;
}

.side_vertical_tabs li > a {
	color: #222;
}

.side_vertical_tabs li.active > a {
	background-color: #F4F4F2 !important;
	border-left: #F4F4F2 !important;
	border-bottom: 1px solid #dddddd !important;
	border-right: 5px solid $pink !important;
//	border-right: 5px solid #2CCAD4 !important;
	color: $pink !important;
//	color: #2CCAD4 !important;
}

.side_vertical_tabs li > a:hover {
	background-color: #F4F4F2 !important;
	border-left: #F4F4F2 !important;
	border-bottom: 1px solid #dddddd !important;
	border-right: 1px solid #dddddd !important;
	border-top: 1px solid #dddddd !important;
}

///// PAGINATION //////

//.will_paginate_container {
//	position: absolute;
//	margin: 0px auto;
//	bottom: 0px;
//	left: 30%;
//}

.pagination > .active > span {
	background-color: #0f81d5 !important;
	border-color: #0f81d5 !important;
}

.pagination > li > a {
	color: #0f81d5 !important;
}

// Alert

.alert{
  border-radius: 0px;
  margin-bottom: 0px;
}

.table {
    table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_stats_container {
  padding-left: 0px;
  margin-bottom: 0px;
}

.video_title {
	font-family: 'helvetica', 'open-sans';
	color: #222222;
}

.attn_banner {
	background-color: #F2DEDE;
}

.page_footer {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.footer_links_container {
	text-align: center;
}

.footer_links_container li {
	display: inline;
	list-style-type: none;
	padding: 0px 10px;
	font-size: 12px;
}

.footer_links_container li a {
	color: #999;
	text-family: helvetica;
}

.footer_copyright_footer_text {
	text-align: center;
	color: #999;
	font-family: helvetica;
	font-size: 10px;
}

.used_minutes_title {
	font-family: helvetica;
	padding-bottom: 10px !important;
}

//UI UPDATE STARTS HERE

.main_left_container {
	font-size: 14px;
}

.left_nav_bg {
	background-color: #0f81d5;
}

.left_nav_container {
	width: 230px;
}

.left_nav_top_logo {
	margin-top: 20px;
	display: flex;
}

.left_nav_top_logo a {
	width: 100%;
	text-align: center;
	font-size: 35px;
	font-weight: lighter;
	color: #fff;
}

.left_nav_dropdown {
	margin-top: 20px;
}

.left_nav_dropdown > .navbar-collapse {
	padding-right: 0px;
	padding-left: 0px;
}

.left_nav_dropdown .navbar-right {
	float: left !important;
	margin-right: 0px;
}

.left_nav_dropdown .nav > li > a {
	padding: 0px 0px;
}

.left_nav_dropdown .navbar-nav > li > a {
	color: #fff;
	width: 230px;
	text-align: center;
}

.left_nav_container {
	margin-top: 30px;
}

.left_nav_container li {
	float: left;
}

.left_nav_container .glyph_text {
	display: inline;
}

.left_nav_container li {
	text-align: inherit;
	padding-left: 15px;
	border-bottom: 1px solid #118ed9;
	border-top: 1px solid #016dbc;
	padding-top: 15px;
	padding-bottom: 15px;
}

.left_nav_container li:hover {
	background-color: #016dbc;
}

.left_nav_container li:last-child {
	border-bottom: none;
}

.left_nav_container li a {
	color: #a9d7fa;
	display: block;
}

.left_nav_container li a:hover {
	color: #fff;
}

.left_nav_container li.active a {
	color: #fff;
}

.dashboard_stats_container .title_text {
	color: #464646;
}

.dashboard_stats_container {
	border-right: 1px solid #ccc;
}

.dashboard_stats_container:last-child {
	border-right: none;
}

.panel_blue_heading {
	background-color: #0F81D5 !important;
}

.video_row_thumb {
	float: left;
	width: 20%;
}

.free_uni_btn {
	margin-top: 25px;
}

.free_uni_btn a {
	background-color: transparent;
	border-color: #4E9ADA;
	color: #4E9ADA;
}

.free_uni_btn a:hover {
	background-color: #0F81D5;
	border-color: #4E9ADA;
	color: #fff;
}

.start_crawling_btn a {
	padding: 20px 0px;
}

.start_crawling_btn input {
	padding: 20px 0px;
}

.crawls_index_action_stats_container:nth-child(even) {
	padding-right: 0px;
}

.crawls_index_action_stats_container:nth-child(odd) {
	padding-left: 0px;
}

.crawls_index_action_stats_container .panel {
	border-radius: 10px;
}

.crawls_index_action_stats_container .project_panel_heading {
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

.crawls_index_action_stats_container .panel-body {
	padding: 0px;
}

.top_nav_title_container div {
	padding-top: 10px;
}

.revive_top_nav_header_container {
	width: 100%;
	height: 90px;
	background-color: #0f81d5;
}

.revive_top_nav_logo {
	padding-top: 30px;
}

.revive_top_nav_logo a {
	float: none;
	font-size: 50px;
	color: #fff;
}

form.find-user{
  position: absolute;
  top: 5px;
  right: 20px;
}

form.find-user input{
  border-radius: 20px;
  border: 1px solid #666;
  color: black;
  padding: 5px;
  padding-left: 15px;
}

///////////////// MODAL //////////////////
.modal .modal-header img.close{
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal .modal-content form{
  margin-bottom: 20px;
}
