/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// MAIN LAYOUT

html, body  {
    height: 100%;
	width: 100%;
	overflow: hidden;
}

.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.main_container {
	padding-top: 50px;
	overflow-y: auto;
}

.main_left_container {
	float: left;
}

.main_right_container {
	overflow-y: auto;
	overflow-x: auto;
}

.main_page_bg {
	background: #f4f4f2;
}

.main_page_container {
	min-width: 970px;
}

// TOP NAV
.top_nav_container {
	height: 50px;
	border: none;
	background-color: #ff4f78;
}

.logo {
	margin-top: 5px;
	margin-left: 20px;
	position: absolute;
	left: 0;
}

.top_nav_link, .top_nav_link:hover {
	color: #fff;
}


// MAIN PAGE

.header_title_container {
	padding: 10px 0px 0px 0px;
	background-color: #fbfbf9;
	border-bottom: 1px solid #e7e7e1;
}

.header_glyph {
	float: left;
	margin-right: 15px;
}

.header_text {
	float: left;
	margin-right: 15px;
}

//.header_button {
//	margin-top: -10px;
//}

.container_section {
	margin-top: 20px;
}

.glyph_pink {
	color: #dd6573;
}

.glyph_blue {
	color: #63aade;
}

.title_number {
	float: left;
	margin-right: 15px;
	color: #dd6573;
	font-weight: bold;
	font-size: 30px;
}

// STATS

.stat_circle_container {
	font-weight: bold;
	font-size: 30px;
}	


#stats_chart {
	height: 300px;
}

.field_container {
	margin-top: 15px;
}

.pink_form_submit_btn_container {
	margin-top: 15px;
}

.pink_form_submit_btn {
	background-color: #FF4F78;
	color: #fff;
	width: 100%;
	padding: 15px 0px;
}






























