// Place all the styles related to the pending_crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending-crawls-list-container {
  padding: 0px;
}

.pending-crawls-list-container {
  .pending-crawl{
    .crawl-name{ color: #0f81d5; }
    .btn{ margin-right: 10px; }
  }
}

.pending-crawls-list-container .page-header h3{
  text-align: center;
  margin: 40px 0px;
}

.pending-crawls-container {

  color: #666;
  list-style-type: none;
  padding: 0px;
  
  li {
    border-radius: 4px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #F9F9F9;
    font-size: 15px;
    color: black;
    .handle_div {
      float: left;
      margin-right: 20px;
      .handle {
        cursor: move;
        color: #dbdbdb;
      }
    }
    &:hover {
      .handle_div {
        .handle {
          @extend .handle;
        }
      }
    }
  }
}

.page-header {
  margin: 0px !important;
}
