<%= render 'nav/sales_top_nav' %>

<!-- Start introduction section -->
<div class="sales-intro-section">
  <div class="sales-video-section">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Never Pay More Than $9 For A PR Link Again</h1>
        <div class="col-md-12">
          <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="sales-btn-started">
            <a class="btn btn-success" href="#">CLICK HERE TO GET STARTED</a>
          </div>
        </div>

        <div class="col-md-12 sales-guarantee-checkout">
          <div class="col-md-7">
            <img src="/assets/money_back_guarantee.png" class="guarantee-icon pull-left" />
            <p class="pull-left">30 Day Money-Back Guarantee</p>
            <img src="/assets/secure_checkout.png" class="guarantee-icon pull-left" />
            <p class="pull-left">Secure Checkout</p>
          </div>
          <div class="col-md-5">
            <div class="col-md-3 sales-no-padding-lr text-right">
              <img src="/assets/visa_icon.png" />
            </div>
            <div class="col-md-3 sales-no-padding-lr text-right">
              <img src="/assets/master_icon.png" />
            </div>
            <div class="col-md-3 sales-no-padding-lr text-right">
              <img src="/assets/american_express_icon.png" />
            </div>
            <div class="col-md-3 sales-no-padding-lr text-right">
              <img src="/assets/discover_icon.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End introduction section -->

<!-- Start access count section -->
<div class="container">
  <div class="col-md-10 col-md-offset-1 sales-section">
    <div class="col-md-2">
      <img src="/assets/access_section.png" />
    </div>
    <div class="col-md-10">
      <h3 class="sales-section-title">Access To The Most Powerful SEO Domains Online</h3>
      <p class="sales-section-text">
        It is common knowledge that building your own network of powerful high authority domains is the holy grail of SEO link building. The only issue is it time consuming and extremely expensive. Until now.
      </p>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1 sales-section">
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-primary">123456</h4>
      <p class="sales-section-text-gray">URLS FOUND</p>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-black">123456</h4>
      <p class="sales-section-text-gray">BROKEN DOMAINS</p>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-black">123456</h4>
      <p class="sales-section-text-gray">EXPIRED DOMAINS</p>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-red">Finished</h4>
      <p class="sales-section-text-gray">STATUS</p>
    </div>
  </div>

  <div class="col-md-12 sales-section">
    <div class="col-md-6">
      <div class="col-md-2">
        <img src="/assets/push_button.png" />
      </div>
      <div class="col-md-10">
        <p class="sales-small-title">
          Push Button Power Domain Lists
        </p>
        <p class="sales-small-text">
          At the push of a button Revive will deliver you a custom list of high powered quality relevant unregistered domains for you use for your PBN.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-2">
        <img src="/assets/money_save.png" />
      </div>
      <div class="col-md-10">
        <p class="sales-small-title">
          Save Thousands On Your Link Building
        </p>
        <p class="sales-small-text">
          Building a authority site network you own will cost youhundreds to thousands of dollars. With Revive you can build your entire network for 1/20th the cost.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End access count section -->

<!-- Start logo section -->
<div class="container">
  <div class="col-md-12 sales-logo-section text-center">
    <img src="/assets/logo_blue.png" />
  </div>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3 class="sales-section-title">Save Money. Save Time. Save Sanity.</h3>
    <p class="sales-section-text text-center">
      Make The Most Complicated, Expensive, Time Consuming Part Of SEO Made Push Button Simple
    </p>
  </div>
</div>
<!-- End logo section -->

<!-- Start How it works section -->
<div class="sales-intro-section sales-section" style="height: 500px">
  <div>
    <h1>HOW IT WORKS</h1>
  </div>
</div>
<!-- End How it works section -->