<%= render 'nav/sales_top_nav' %>

<div class="sales-intro-section">
  <div class="sales-video-section">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Never Pay More Than $9 For A PR Link Again</h1>
        <div class="videoWrapper">
          <!-- Copy & Pasted from YouTube -->
          <iframe src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="sales-btn-started">
          <a class="btn btn-success" href="#">CLICK HERE TO GET STARTED</a>
        </div>
        
      </div>
    </div>
  </div>
</div>