<ul class="left_nav_container">
	
	<li>
		<%= link_to root_path do %>
		    <i class="glyphicon glyphicon-home">
				<span class="glyph_text">Home</span>
			</i>
		<% end %>
	</li>
	
	<li>
		<%= link_to new_project_path, 'data-no-turbolink': true do %>
		    <i class="glyphicon glyphicon-plus">
				<span class="glyph_text">New</span>
			</i>
		<% end %>
	</li>

	<li>
		<%= link_to crawls_path do %>
		    <i class="glyphicon glyphicon-folder-open">
				<span class="glyph_text">Projects</span>
			</i>
		<% end %>
	</li>
	

	
</ul>